# menagerie
**/mujoco_menagerie/

# Training and deploy files
**/training_runs/
**/bagfiles
artifacts/

# Virtual environments
**/.venv*/

# Python/cache artifacts
**/__pycache__/
*.py[cod]

# Build artifacts
build/
**/build/
